@use "mixins" as *;

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
  @include tablet {
    max-width: 768px;
    padding: 0 20px;
  }
  @include desktop {
    max-width: 1440px;
    padding: 0 60px;
  }
}