@font-face {
  font-family: 'BlissPro';
  src: url('/fonts/BlissPro-Light.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BlissPro';
  src: url('/fonts/BlissPro-Medium.woff') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}