@use 'variables' as *;

@mixin mobile {
  @media (min-width: $vp-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $vp-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $vp-desktop) {
    @content;
  }
}
