@use "variables" as *;
@use "mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $ff-bliss-pro, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: $white;
  color: $brown;
}

main {
  flex-grow: 1;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: center;
  color: $red-main;
  @include tablet {
    font-size: 64px;
  }
}