@use 'variables' as *;
@use 'mixins' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'BlissPro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: $white;
  color: $brown;
}

main {
  min-height: calc(100vh - 56px);
  @include tablet {
    min-height: calc(100vh - 63px);
  }
  @include desktop {
    min-height: calc(100vh - 80px);
  }
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 90%;
  letter-spacing: -0.02em;
  text-align: center;
  color: $red-main;
  @include tablet {
    font-size: 64px;
  }
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}
