// viewport
$vp-mobile: 375px;
$vp-tablet: 768px;
$vp-desktop: 1024px;

// fonts
$ff-bliss-pro: "BlissPro";

// colors
$green: rgba(137, 201, 70, 1);
$green-dark: rgba(86, 154, 15, 1);
$green-light: rgba(203, 246, 158, 1);
$green-extra-light: rgba(228, 250, 206, 1);
$white: rgba(255, 255, 255, 1);
$blue: rgba(42, 87, 174, 1);
$blue-light: rgba(217, 230, 255, 1);
$violet: rgba(167, 74, 150, 1);
$violet-light: rgba(246, 207, 239, 1);
$brown: rgba(62, 39, 39, 1);
$azure: rgba(118, 210, 188, 1);
$azure-light: rgba(203, 246, 236, 1);
$azure-extra-light: rgba(226, 248, 243, 1);
$orange: rgba(255, 160, 69, 1);
$orange-light: rgba(254, 224, 193, 1);
$red-main: rgba(237, 61, 90, 1);
$red-light: rgba(255, 232, 236, 1);

// error
$error-color: rgba(241, 0, 4, 1);
$text-error-color: rgba(237, 61, 90, 1);